
<div class='mb-4 justify-center'>
            <h2>{{post.title}}</h2>
            <h5>{{post.body}}</h5>
            <p>Posted by: {{post.user.username}}</p>
            {{!-- <p>{{post.createdAt}}</p> --}}
            <p>Created: {{format_date post.createdAt}}</p>
            


            <button class="btn">Add a comment</button>

            <form class="form new-comment-form mt-4">
                <div class="form-group">
                    <label>Comment:</label>
                    <input class="form-input" type="text" id="comment-body" name="comment-body" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>

            <h5 class="mt-4">Comments:</h5>

            <div></div>

</div>